<html lang="PT-BR">
  <head>
    <meta charset="utf-8">
    <title>BookBlog</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>
<body>
<h1>Nova resenha de Livro</h1>

  <%= render "form", article: @article %>

</body>
</html>